@import url(https://webfontworld.github.io/kopus/KoPubWorldDotum.css);

* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    font-family: 'KoPubWorldDotum';
    font-size: 14px;
}

header{
    margin: 0 auto;
    height: 56px;
    border-bottom: 3px solid #2465c8;
    background: #fff;
    text-align: center;
    margin: 0 auto;
}

header img{
    position: absolute;
    width: 185px;
    height: 40px;
    left: 20px;
    top: 8px;
}

header .nav_bar{
    width: 600px;
    display: flex;
    height: 35px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 10.5px;
}

header .btn{
    width: 130px;
    border: none;
    color: #6b6b6b;
    background-color: rgba(217,217,217,0.4);

    border: 1px solid #dedede;
    border-radius: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    padding: 11px 0;
    font-weight: bold;
    color: #6b6b6b;
    cursor: pointer;
    margin-top: 10.5px;
}

.btn_on{
    width: 130px;
    border: none;
    color: #fff;
    background-color: #2465c8;
    border: 1px solid #dedede;
    position: relative;
    z-index: 9999; /*z-index 는 position 설정이 안되어있으면 적용이 안된다.*/
    border-radius: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    padding: 11px 0;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10.5px;
}

header .btn_2{
    width: 80px;
    height: 35px;
    background: #fff;
    border-radius: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    padding: 11px 0;
    font-weight: bold;
    color: #6b6b6b;
    border: 1px solid #dedede;
    cursor: pointer;
    margin-top: 10.5px;
}

header .btn_2:hover{
    border: 1px solid #666;
}

header .search_btn_on{
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #fff;
    width: 35px;
    height: 35px;
    padding: 9px 9px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 280px;
    top: 10.5px;
}

header .search_btn_off{
    display: none;
    border: 1px solid #dedede;
    background-color: #fff;
    width: 35px;
    height: 35px;
    padding: 9px 9px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 280px;
    top: 10.5px;
}

header .btn_3{
    display: inline-block;
    border: 2px solid #1aaebf;
    color: #1aaebf;
    height: 35px;
    font-size: 13px;
    padding: 5px 9px;
    border-radius: 30px;
    cursor: pointer;
    background: #fff;
    position: absolute;
    right: 130px;
    top: 10.5px;
}

header .btn_4{
    display: inline-block;
    border: 1px solid #2465c8;
    background-color: #fff;
    color: #2465c8;
    width: 35px;
    height: 35px;
    padding: 9px 6px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 80px;
    top: 10.5px;

}

header .btn_5{
    display: inline-block;
    border: 1px solid #dedede;
    background-color: #fff;
    width: 35px;
    height: 35px;
    padding: 9px 9px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 10.5px;
    text-align: center;
}

article{
    display: flex;
}

#nav{
    width: 60px;
    height: 100vh;
    background-color: #2465c8;
    font-size: 11px;
}

#nav div{
    height: 90px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

#nav div i{
    margin-top: 17px;
    margin-bottom: 5px;
}

#nav div:hover{
    background-color: #053863;
}

#nav .on{
    background-color: #053863;
}
#nav i{
    font-size: 22px;
}

#side_bar{
    width: 250px;
    height: 100vh;
    border-right: 1px solid #dedede;
    display: none;
    transition: all 0.3s;
}

.top{
    height: 60px;
    background: #10a7a0;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 60px;
    padding-left: 20px;
    display: block;
}

.body{
    display: block;
}
.que {
    position: relative;
    height: 46px;
    line-height: 46px;
    background: #fff;
    font-size: 14px;
    color: #222;
    padding-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dedede;
    transition: all 0.3s;
}

.anw {
    margin: 0 auto;
    padding-left: 20px;
    height: 100%;
    max-height: 430px;
    font-size: 14px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(217,217,217,0.4);
    display: none;
}

#side_bar_part_1{
    display: none;
}

#side_bar_part_2{
    display: none;
}

#side_bar_part_3{
    display: none;
}

#side_bar_part_4{
    display: none;
}

#side_bar_part_5{
    display: none;
}

.side_nav_close {
    top: 50%;
    width: 22px;
    left: 310px;
    overflow: hidden;
    height: 34px;
    background: url(../asset/slide_btn_off.png) no-repeat center top;
    line-height: 9999px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    transition: all 0.3s;
    border: 1px solid #dedede;
}

.side_nav_open {
    top: 50%;
    left: 60px;
    width: 22px;
    height: 34px;
    overflow: hidden;
    background: url(../asset/slide_btn_on.png) no-repeat center top;
    line-height: 9999px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    transition: all 0.3s;
    display: none;
    border: 1px solid #dedede;
}

#map_frame{
    width: calc(100vw - 60px);
    transition: all 0.3s;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.search_frame{
    position: absolute;
    z-index: 9999;
    right: 275px;
    margin-top: 10px;
    width: 450px;
    height: 35px;
    background: #fff;
    border: 1px solid #2465c8;
    border-radius: 50px;
    padding: 15px 44px 0 30px;
    display: none;
}

.search_frame input{
    width: 430px;
    border: none;
    height: 20px;
}

.search_frame input:focus{
    outline: none;
}

.search_frame i{
    font-size: 18px;
}
.search_frame span{
    position: absolute;
    right: 25px;
}